
@primary-color: #205081;

a, a:visited, a:link {
    color: #3572b0;
    text-decoration: none;
}

html, body {
    height: 100%;
}

#page-head {
    #header {
        background: @primary-color;

        div.logo {
            a {
                width: 80px;
                /* background-size: 100px 50px; */
                height: 31px;
                display: block;
                background: url("http://www.wfp2.com/typo3conf/ext/wfp2_base/Resources/Public/Images/logo.png");
                background-size: 80px 31px;
                background-repeat: no-repeat;
                top: 6px;
                img {
                    display: none;
                }
            }

        }

        div.searchbox {

            padding: 0px;

            form {
                div#searchform {

                    input#search-box {
                        background: rgba(0, 0, 0, .2);
                        border-radius: 3px;
                        box-shadow: none;
                        color: rgba(255, 255, 255, .6);
                        height: 30px;
                        margin: 5px 0;
                        padding-right: 26px;
                        border: 0px;
                    }

                    a {
                        display: none;
                    }
                }
            }
        }
    }

    #breadcrumbBar {
        display: none;
        div.top-sticker-inner {
            background: #fff;

            ul {
                border-bottom: 0px;
            }
        }
    }
}

#page-body {
    min-height: 100%;
    height: 100%;

    div#side-panel {
        min-height: 100%;
        background: #f5f5f5;
        padding: 0px;
        border-right: 1px solid #ccc;
        border-radius: 0px;
        width: 280px;

        div#tasks {

            margin: 20px 0px 0px 0px;

            &:before {
                color: #707070;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                content: "Actions";
                line-height: 20px;
                margin: 5px 15px 0px 15px;
                padding: 10px 10px 4px 0px;
                text-transform: uppercase;
            }

            div.task {
                padding: 7px 26px 7px 15px;
                margin: 0px;
                height: 34px;
                &:hover {
                    background: #e6e6e6;
                }

                a.task-icon-link {
                    img {
                        height: 20px !important;
                        width: 20px !important;
                        filter: gray; /* IE6-9 */
                        filter: grayscale(1); /* Firefox 35+ */
                        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                    }
                }

                a.task-link {
                    b {
                        font-weight: normal;
                    }
                }
            }
        }


        div#buildHistory, div#buildQueue, div#executors {
            border: 0px;
            margin: 5px 0px 0px 0px;
            padding: 5px 7px 0px 7px;

            &:before {
                color: #707070;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 20px;
                margin: 5px 8px 0px 8px;
                padding: 10px 10px 4px 0px;
                text-transform: uppercase;
                border-top: 1px solid #ccc;
                width: 250px;
            }

            &:hover {
                border: 0px;
            }

            div.row {
                padding: 0px 26px 0px 15px;

                .pane-header, .pane-footer {
                    display: none;
                }

                &.pane-content {
                    .build-search-row {
                        display: none;
                    }
                }
            }
        }


        div#buildQueue:before {
            content: "Build Queue";
        }

        div#executors:before {
            content: "Build-Prozessor-Status";
        }

        div#buildHistoryPageNav {
            display: none;
        }
        div#buildHistory:before {
            content: "History";
        }


    }



    #main-panel {
        margin: 0px 0px 0px 280px;
        padding: 20px;
        h1 {
            font-size: 24px;
            font-weight: normal;
            height: 30px;
            margin: 0px 0px 20px 0px;
            padding: 0px;
        }

        div#description {
            > div:first-child {
                border: 1px solid #ccc;
                border-radius: 3px;
                width: 702px;
                padding: 20px;
                margin: 10px 0px 0px 0px;
            }

        }

        pre.console-output, pre {
            margin: 10px 0px;
            font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
            background: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            overflow-x: auto;
            padding: 5px 10px;
            word-wrap: normal;
        }
    }
}

footer {
    border: 0px;
    background: #fff;
    bottom: -40px;

}

