
@primary-color: #205081;


#page-head {
    #header {
        background: @primary-color;

        div.logo {
            display: none;
        }

        div.searchbox {

            padding: 0px;

            form {
                div#searchform {

                    input#search-box {
                        background: rgba(0, 0, 0, .2);
                        border-radius: 3px;
                        box-shadow: none;
                        color: rgba(255, 255, 255, .6);
                        height: 30px;
                        margin: 5px 0;
                        padding-right: 26px;
                        border: 0px;
                    }

                    a {
                        display: none;
                    }
                }
            }
        }
    }

    #breadcrumbBar {
        div.top-sticker-inner {
            background: #fff;

            ul {
                border-bottom: 0px;
            }
        }
    }
}

#page-body {
    div#side-panel {
        background: #f5f5f5;
    }
}

