a,
a:visited,
a:link {
  color: #3572b0;
  text-decoration: none;
}
#page-head #header {
  background: #205081;
}
#page-head #header div.logo a {
  width: 80px;
  /* background-size: 100px 50px; */
  height: 31px;
  display: block;
  background: url("http://www.wfp2.com/typo3conf/ext/wfp2_base/Resources/Public/Images/logo.png");
  background-size: 80px 31px;
  background-repeat: no-repeat;
  top: 6px;
}
#page-head #header div.logo a img {
  display: none;
}
#page-head #header div.searchbox {
  padding: 0px;
}
#page-head #header div.searchbox form div#searchform input#search-box {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.6);
  height: 30px;
  margin: 5px 0;
  padding-right: 26px;
  border: 0px;
}
#page-head #header div.searchbox form div#searchform a {
  display: none;
}
#page-head #breadcrumbBar {
  display: none;
}
#page-head #breadcrumbBar div.top-sticker-inner {
  background: #fff;
}
#page-head #breadcrumbBar div.top-sticker-inner ul {
  border-bottom: 0px;
}
#page-body div#side-panel {
  background: #f5f5f5;
  padding: 0px;
  border-right: 1px solid #ccc;
}
#page-body div#side-panel div#tasks {
  margin: 20px 0px 0px 0px;
}
#page-body div#side-panel div#tasks:before {
  color: #707070;
  font-size: 12px;
  font-weight: 700;
  content: "Actions";
  line-height: 20px;
  margin: 5px 15px 0px 15px;
  padding: 10px 10px 4px 0px;
  text-transform: uppercase;
}
#page-body div#side-panel div#tasks div.task {
  padding: 7px 26px 7px 15px;
  margin: 0px;
}
#page-body div#side-panel div#tasks div.task:hover {
  background: #e6e6e6;
}
#page-body div#side-panel div#tasks div.task a.task-icon-link img {
  height: 20px !important;
  width: 20px !important;
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}
#page-body div#side-panel div#buildQueue {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
}
#page-body div#side-panel div#buildQueue:before {
  color: #707070;
  font-size: 12px;
  font-weight: 700;
  content: "Build Queue";
  line-height: 20px;
  margin: 5px 15px 0px 15px;
  padding: 10px 10px 4px 0px;
  text-transform: uppercase;
}
#page-body div#side-panel div#buildQueue:hover {
  border: 0px;
  border-top: 1px solid #ccc;
}
#page-body div#side-panel div#buildQueue div.row {
  padding: 7px 26px 7px 15px;
}
#page-body div#side-panel div#buildQueue div.row .pane-header {
  display: none;
}
#page-body div#side-panel div#executors {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
}
#page-body div#side-panel div#executors:before {
  color: #707070;
  font-size: 12px;
  font-weight: 700;
  content: "Build-Prozessor-Status";
  line-height: 20px;
  margin: 5px 15px 0px 15px;
  padding: 10px 10px 4px 0px;
  text-transform: uppercase;
}
#page-body div#side-panel div#executors:hover {
  border: 0px;
  border-top: 1px solid #ccc;
}
#page-body div#side-panel div#executors div.row {
  padding: 7px 26px 7px 15px;
}
#page-body div#side-panel div#executors div.row .pane-header {
  display: none;
}
